.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
}

.input {
    border-radius: 5px;
    line-height: 1.5;
    border: 1px solid #000000;
}

.btn {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #000000;
}

.contactUl {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.deleteBtn {
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #dbdbdb;
    transition: background-color 100ms linear;
}


.contactNumber {
    font-weight: 500;
    margin-right: 10px;
}